.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.btn.btn-success.them.cuatau {
  margin-left: 430px;
  width: 110px;
  height: 38px;
}
.form-group.search {
  margin-left: 15px;
  width: 299px;
}

input.form-control {
  margin-left: 14px;
  width: 300px;
}

.adduser {
  position: fixed;
  top: 85px;
  z-index: 1;
  left: 265px;
}

input.form-control.nhapvao {
  width: 600px;
}

select.form-control.selcet {
  width: 601px;
  margin-left: 13px;
}
button.btn.btn-danger.cancle {
  width: 95px;
}
label.label_input {
  width: 109px;
}
input.form-control-file {
  margin-left: 44px;
}
.col-12.side-menu {
  margin-top: 50px;
}